
*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    width: 100%;
}
/*scrollBar*/
::-webkit-scrollbar {
    width: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #FE83C6; 
}
/* Track */
::-webkit-scrollbar-track {
    background: #323232; 
}
.header{
    background-color: #323232;
    display: flex;
    position: fixed;
    /* left, right and top to positionate the header at the top and with 100 width*/
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
}
.logo{
    width: 15%;
    margin-left: 30px;
    padding: 15px;
}
.navbar{
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
}
.navbar>a{
    margin: 0 10px 0 10px;
    position: relative;
    text-decoration: none; /* avoid underline */
    color: #FA4EAB;
    font-family: "Bebas Neue", sans-serif;
    font-size: 30px;
}
.navbar a::before{
    content: ''; 
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #FFC4E1;
    transition: .5s;
}
.navbar a:hover::before{
    width: 100%; /* to underline all the text in 'a' */
}

.navbar a:hover{ 
    color: #FFC4E1;
}
.home{
    background-color: #FE83C6;
    margin-top: 5rem;
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.typewriterPhone{
    display: none;
}
.typewriterBox{
    display: flex;
    justify-content: center;
}
.typewriter h1{
    font-family: "Bebas Neue", sans-serif;
    font-size: 80px;
    color: #FFF2F9;
    text-shadow: 5px 5px #323232;
    /* typing effect*/
    overflow: hidden; /* content is not revealed until the animation */
    border-right: 5px solid #FFC4E1; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: 12px; 
    -webkit-animation: typing 3.5s steps(30, end), blink-caret .5s step-end infinite;
    animation: 
      typing 3.5s steps(30,end),
      blink-caret .5s step-end infinite;
}
/* typing effect */
@keyframes typing {
from { width: 0 }
to { width: 100% }
}
/* typewriter cursor effect */
@keyframes blink-caret {
from, to { border-color: #FFF2F9 }
50% { border-color: #FFC4E1; }
}
.homeContainer{
    display: flex;
    margin-top: 30px;
}
.shortDescrip{
   width: 60%;
   font-family: "Dosis", sans-serif;
   font-size: 25px;
   letter-spacing: 2px;
   color: #FFF2F9;
   padding: 50px 80px;
}
.bold{
    font-size: 28px ;
    color: #323232;
}
.klomCode{
    width: 40%;
    border-radius: 10px;
    margin-top: 30px;
    margin-right: 80px;
}
.mouse{
    position: absolute;
    left: 50%;
    bottom: 0;
}
.mouse img{
    width: 50px;
}
.aboutMe{
    background-color: #323232;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 80px 50px;
    height: 60%;
}
/*animation profilePicture*/
.profilePic {
    position: relative;
    width: 200px;
    height: 250px;
}
.photo {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 250px;
    width: 200px;
    opacity: 0;
    transition: 1s ease;
}
.profilePic:hover .overlay {
opacity: 1;
} 
.photoAdventure {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%; 
    border-radius: 5px;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
/* ends animation profilePicture*/

.description{
    width: 60%;
    display: flex;
    flex-direction: column;
}
.description h2{
    color: #FA4EAB;
    font-family: "Bebas Neue", sans-serif;
    font-size: 45px;
    text-align: center;
}
.description p{
    color: #FFF2F9;
    font-family: "Dosis", sans-serif;
    margin: 20px 25px 30px 25px;
    font-size: 20px;
    letter-spacing: 2px;
    text-align: justify;
}
.description button{
    padding: 8px 50px;
    text-align: center;
    align-self: center;
    margin-bottom: 20px;
    background-color: #EAEAEA;
    color: #FE83C6;
    font-family: "Bebas Neue", sans-serif;
    font-size: 28px;
    border-radius: 5px;
    border:none;
}
.projects{
    background-color: #000000;
}
.projects h2{
    color: white;
    font-family: "Bebas Neue", sans-serif;
    font-size: 45px;
    text-align: center;
}
.contact{
    background-color: #000000;
}
.contact h2{
    color: white;
    font-family: "Bebas Neue", sans-serif;
    font-size: 45px;
    text-align: center;
}


/*celulares*/
@media(max-width:600px){  
    .home{
        margin-top: 1rem;
    }
    .typewriterPhone{
        display: block;
    }
    .typewriterNormal{
        display: none;
    }
    .typewriter h1{
        font-size: 30px;
        text-shadow: 2px 2px #323232;
    }
    .homeContainer{
        flex-direction: column;
        margin-top: 50px;
    }
    .shortDescrip{
        font-size: 20px;
        letter-spacing:0;
        text-align: justify;
        padding: 10px;
        align-self: center;
    }
    .bold{
        font-size: 21px;
    }
    .klomCode{
        width: 80%;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
    }
    .mouse{
        display: none;
    }
    .aboutMe{
        flex-direction: column;
        justify-content: flex-start;
        padding: 50px 0;
        height: 100%;
    }
    .description{
        width: 90%;
    }
    .description p{
        font-size: 19px;
        letter-spacing: 0;
    }
    .description h2{
        margin-top: 50px;
    }
    .description button{
        padding: 5px 30px;
        font-size: 25px;
    }
}
@media(min-width:576px){ 
    .home{
        margin-top: 1rem;
    }
    .typewriterPhone{
        display: block;
    }
    .typewriterNormal{
        display: none;
    }
    .typewriter h1{
        font-size: 30px;
        text-shadow: 2px 2px #323232;
    }
    .homeContainer{
        flex-direction: column;
        margin-top: 50px;
    }
    .shortDescrip{
        font-size: 20px;
        letter-spacing:0;
        text-align: justify;
        padding: 10px;
        align-self: center;
    }
    .bold{
        font-size: 21px;
    }
    .klomCode{
        width: 80%;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
    }
    .mouse{
        display: none;
    }
    .aboutMe{
        flex-direction: column;
        justify-content: flex-start;
        padding: 50px 0;
        height: 100%;
    }
    .description{
        width: 90%;
    }
    .description p{
        font-size: 19px;
        letter-spacing: 0;
    }
    .description h2{
        margin-top: 50px;
    }
    .description button{
        padding: 5px 30px;
        font-size: 25px;
        background-color: white;
    }
}/*celulares*/


/*tablet*/
@media(min-width:768px){
    .home{
        margin-top: 5rem;
    }
    .typewriterPhone{
        display: none;
    }
    .typewriterNormal{
        display: block;
    }
    .typewriter h1{
        font-size: 55px;
        text-shadow: 4px 4px #323232;
    }
    .homeContainer{
        flex-direction: row;
    }
    .shortDescrip{
       font-size: 22px;
       letter-spacing: 2px;
       text-align: start;
       padding: 50px 80px;
    }
    .bold{
        font-size: 25px;
    }
    .klomCode{
        width: 250px;
        height: 150px;
        margin-right: 80px;
    }
    .mouse{
        display: block;
    }
    .aboutMe{
        flex-direction: row;
        justify-content: space-around;
        padding: 80px 50px;
        height: 60%;
    }
    .description{
        width: 60%;
    }
    .description h2{
        margin-top: 0; 
    }
    .description p{
        font-size: 18px;
        letter-spacing: 1px;
    }
    .description button{
        padding: 5px 30px;
        font-size: 25px;
    }
}
/*escritorio*/
@media(min-width:992px){
    .home{
        margin-top: 5rem;
    }
    .typewriterPhone{
        display: none;
    }
    .typewriterNormal{
        display: block;
    }
    .typewriter h1{
        font-size: 80px;
        text-shadow: 5px 5px #323232;
    }
    .homeContainer{
        flex-direction: row;
    }
    .shortDescrip{
       font-size: 25px;
       letter-spacing: 2px;
       text-align: start;
       padding: 50px 80px;
    }
    .bold{
        font-size: 28px;
    }
    .klomCode{
        width: 40%;
        margin-right: 80px;
    }
    .mouse{
        display: block;
    }
    .aboutMe{
        flex-direction: row;
        justify-content: space-around;
        padding: 80px 50px;
        height: 60%;
    }
    .description{
        width: 60%;
    }
    .description h2{
        margin-top: 0; 
    }
    .description p{
        font-size: 20px;
        letter-spacing: 2px;
    }
    .description button{
        padding: 8px 50px;
        font-size: 28px;
    }
}


/*

@media(min-width:1440px){
    .home{
        background-color: blue;
    }
}

@media(min-width:2560px){
.card-body {
    margin-top: 450px;
}
.card-text {
min-height: 7vh;
}
} */
